<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESO Sets</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <h1>ESO Set Library</h1>

  <body style="display: flex; flex-direction: column; align-items: center;">
    <h2>Server is up and running!</h2>
    <p><strong style="font-size: 18px;">ESO GQL API</strong> is located at <a href="/graphql">/graphql</a></p>
    <p><strong style="font-size: 18px;">ESO REST API</strong> has 2 endpoints.</p>
    <ul>
      <li><strong>Get all sets:</strong> <a href="/sets">`/sets`</a></li>
      <li><strong>Get set by name:</strong> <a href="/set/Zaan">`/sets/:name`</a> (Zaan)</li>
    </ul>
  </body>
</body>

</html>